BOT_TOKEN=123456:YOUR_BOT_TOKEN
OWNER_ID=123456789
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=bio_link_protector
BAN_ON_LINK=true
CHECK_BIO_ON_JOIN=true
CHECK_BIO_ON_MESSAGE=true
